.nav{
    /* background-color: #000; */
    height: 100vh;
    margin-top: 0;
    width: 17rem;
    /* padding-left: 2rem; */
    padding-top: 1.3rem;
    box-shadow: 0 0 20px 1px rgba(81, 81, 81, 0.255);
    position: fixed;
    top: 0;
}